name: Deploy
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  test:
    uses: NucleoidJS/actions/.github/workflows/test.yml@main
    secrets: inherit

  deploy:
    needs: test
    uses: NucleoidJS/actions/.github/workflows/deploy.yml@main
    secrets: inherit
